@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f5f7fa] text-slate-800 font-sans selection:bg-tata-lightblue selection:text-white;
  }
}

@layer components {

  /* Industrial light theme utility classes */
  .btn-primary {
    @apply bg-tata-blue text-white px-6 py-2.5 rounded-xl font-bold uppercase tracking-wide text-xs hover:bg-tata-darkblue transition-all duration-300 shadow-lg hover:shadow-xl transform active:scale-95;
  }

  .input-field {
    @apply w-full bg-white border-2 border-slate-300 rounded-xl px-6 py-4 outline-none focus:border-tata-lightblue text-slate-800 transition-all;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}